<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/styles/request_page_style.css" />
  </head>
  <body>
    <div class="request-page">
      <div class="main">
        <div class="frame">
          <div class="grid-container">
            {{ range $i, $index := .orderIndexes }}
            <div class="div">
              <div class="text-wrapper">{{$index.Cardinality}}</div>
              <img class="card" src="{{$index.Image}}" />
              <div class="text-wrapper-2">{{$index.Name}}</div>
              <a href="/index/{{$index.ID}}" style="grid-row: 3 / 4; grid-column: 1 / 2;">
                <div class="rectangle"><div class="text-wrapper-3">Подробнее</div></div>
              </a>
              <div class="text-wrapper-4">{{$index.RowsCount}}</div>
              <div class="text-wrapper-5">{{$index.RecievedRows}}</div>
              <div class="frame-2">
                <a href="/request/{{$.orderID}}/up/{{$i}}">
                  <div class="div-wrapper"><div class="text-wrapper-6">↑</div></div>
                </a>
                <a href="/request/{{$.orderID}}/down/{{$i}}">
                  <div class="div-wrapper"><div class="text-wrapper-6">↓</div></div>
                </a>
              </div>
            </div>
            {{end}}
          </div>
        </div>
      </div>
      <div class="frame-5"></div>
      <div class="logo-no-bg-preview-wrapper">
        <a href="/indexes">
        <img class="logo-no-bg-preview" src="/static/img/logo.png" />
        </a>
      </div>
      <div class="cardinality-wrapper">
        <form action="/request/{{ .order.ID }}/delete-order" style="width: 260px; margin-left: 0;" method="post">
          <button class="rectangle" >Удалить заявку</button>
        </form>
        <div class="cardinality">Время выполнения SQL-запроса: {{.order.ExecutionTime}}мс</div></div>
      <div class="frame-6-wrapper">
        <div class="frame-6">
            <div class="cardinality-2">кол-во полученных<br />строк</div>
            <div class="cardinality-3">кол-во строк<br />в таблице</div>
            <div class="text-wrapper-10">cardinality</div>
        </div>
      </div>
    </div>
  </body>
</html>